#login-page h1 {
  text-align: center;
  margin: 50px;
}

#login-page input {
  height: 40px;
  width: 60%;
  display: block;
  margin: 10px auto;
  border: 1px solid #4169E1;
  border-radius: 2px;
}

#login-page input:focus {
  outline: none;
  border: 1px solid #6495ED;
}

#login-btn {
  display: block;
  margin: 30px auto;
  padding-left: 30px;
  padding-right: 30px;
}

#login-btn:focus{
  outline: none;
}